<ul id="messages"></ul>
<form id="box" action="">
	<input id="m" autocomplete="off" /><button>Send</button>
</form>

<span><a href="/api/register">Home</a></span>

<h3> List of All Users on SoundPlow </h3>

{{#each data}}
    <article>
        <div>
          <p name="users"> {{this.username}} <br> <b>Sex:</b> {{this.sex}} <br> <b>Age:</b> {{this.age}} <br> <b>Music Interests:</b> {{this.music_interests}} <br> <b>Concerts IDs Going To:</b> {{this.concerts_going}} </p>            
        </div>
    </article>
{{/each}}