{{#each data}}
    <article>
        <div>
          <p name="users"> {{this.username}} <br> Sex: {{this.sex}} <br> Age: {{ this.age}} <br> Music Interests: {{this.music_interests}} <br> Concerts IDs Going To: {{this.concerts_going}}<p>             
        </div>
    </article>
{{/each}}